* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Fraunces, serif, sans-serif;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  background-color: hsl(30, 38%, 92%);
}

.container {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}

.container .card {
  display: flex;
  /* border: 2px solid red; */
  width: 60%;
  text-transform: capitalize;
  box-shadow: 2px 2px 4px gray;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  overflow: hidden;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
}

.images {
  width: 50%;
  /* height: 100%; */
  /* border: 2px solid blue; */
}

.desktop {
  width: 100%;
  height: 100%;
}

.mobile {
  /* border: 2px solid blue; */
  /* display: none; */
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}

.description {
  display: grid;
  align-items: center;
  /* border: 2px solid green; */
  width: 50%;
  /* height: 100%; */
  background-color: hsl(0, 0%, 100%);
}

.description-container {
  height: 100%;
  /* border: 2px solid red; */
  padding: 64px 24px 20px;
  background-color: hsl(0, 0%, 100%);
}

.product-type {
  text-transform: uppercase;
  /* line-height: 2.5; */
  margin-bottom: 24px;
  background-color: hsl(0, 0%, 100%);
}

.product-name {
  font-size: 48px;
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  line-height: 1.2;
  background-color: hsl(0, 0%, 100%);
}

.product-description {
  margin-top: 20px;
  line-height: 1.5;
  padding: 8px 0px;
  background-color: hsl(0, 0%, 100%);
}

.product-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  background-color: hsl(0, 0%, 100%);
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-family: "Fraunces";
  font-size: 24px;
  background-color: hsl(0, 0%, 100%);
}

.initial-price {
  text-decoration: line-through;
  background-color: hsl(0, 0%, 100%);
}

.button {
  margin-top: 24px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.button button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(30, 38%, 92%);
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 45px;
  cursor: pointer;
  text-transform: capitalize;
}

.button button i {
  background-color: hsl(158, 36%, 37%);
}

@media (max-width: 670px) {
  .desktop {
    display: none;
  }
  .container .card {
    flex-direction: column;
  }
  .images {
    width: 100%;
  }
  .description {
    width: 100%;
  }
  .images {
    height: 300px;
  }
}

@media (min-width: 671px) {
  .mobile {
    display: none;
  }
}
